<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A continuación podremos observar las facturas que se encuentran activas: </h1>
    <ul>
        {% for c in facturas%}
        <li> 
            numero de factura: {{c.id}}
            <br> Nombre de la compañia: {{c.company_name}} 
            <br> Nit de la compañia: {{c.nit}}
        </li>
        {% endfor %} 
    </ul>
</body>
</html>