{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div>
        <h5>Descargar y cargar archivos</h5>
    </div>
    
    <div class="mb-3">
        <label for="formFile" class="form-label">Ingrese el archivo csv</label>
        <input class="form-control" type="file" id="formFile">
      </div>
    
    <a href="{% url 'ing_principal' %}" class = "button" >
        <input type="button" value="Descarga archivo csv">
    </a>
    
    <div>
</body>
</html>



</div>
{% endblock  %}


