<!-- {% block content %}  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            text-align: center;
        }
        h5{
            font-size: larger;
            margin-bottom: 90px;
        }
        a{
            text-decoration: none;
            padding: 30px 50px;
            font-weight: bold;
            font-size: 14px;
            color: rgb(0, 0, 0);
            background: rgb(154, 161, 255);;
            letter-spacing: 0;
            line-height: 24px;
            transform: skewY(-6deg);
            margin: 75px;
        }
    </style>
</head>
<body>
    <div>
        <h5>Ha ingresado a la pagina principal, por favor seleccione alguna de las dos opciones</h5>
    </div>
    
    
    
    <a href="ingreso.html" type="button" class="btn btn-primary button" > Iniciar sesion</a>
    
    <a href="registro_cliente.html"  type="button" class = "button" >Resgistrar</a>
</body>
</html>


<!-- {% endblock  %} -->