<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A continuación podremos observar los usuarios activos </h1>
    <ul>
        {% for c in clientes%}
        <li> 
            numero de documento: {{c.number_document}}
            <br> Nombre completo: {{c.first_name}} {{c.last_name}}
        </li>
        {% endfor %} 
    </ul>
</body>
</html>