<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A continuación podremos observar las facturas que se encuentran activas: </h1>
    <ul>
        {% for c in productos%}
        <li> 
            nombre: {{c.name}}
            <br> descripcion: {{c.descripcion}} 
            <br> Atributo: {{c.attribute_4}}
        </li>
        {% endfor %} 
    </ul>
</body>
</html>